#sivu {
  display: flex;
  flex-wrap: wrap;
}

#map {
	width: 100%;
}

#container {
    display: table;
    width: 100%;
}
#joukkueet, #kartalla, #rastit {
    display: table-cell;
    width: 25%;
}

#kartalla {
    width: 50%;
	padding: 15px;
}

#lista {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
	list-style-type: none;
}

div  {
	text-align: center;	
}

li {
	list-style-type: none;
	text-align: left;	
	margin: 0;
}


.div {
	padding-bottom: 60px;
	border: 1px solid black;
	border-collapse: collapse;
	height: 400px;

}

.lista  {
	border: 1px solid black;
	padding: 0;
	margin: 0;
	height: 460px;	
}

.kartalla {
	width: 100%;
	height:100%;
	padding: 0;
	margin: 0;
	position: relative;
}

.ul {
	border: 1px solid black;
	margin-top:0;
	padding-left:0;
}

.leaflet-tooltip-pane .text {
  background: transparent;
  border:0;
  box-shadow: none;
  font-size:0.75em;
}

@media only screen and (max-width: 800px) {
  #container {
    display: flex;
	flex-direction: column;
  }

 #container > div {
    width: 100%;
  }  

 #kartalla {
    width: 100%;
	padding: 0;
 }
  
}






