html, body {
  background-color: black;
}

#pingu1 {
	position: absolute;
	left: 0%;
	top: 0%;
	animation-name: pingu1-animation;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

#pingu2 {
	position: absolute;
	left: calc(100% - 150px);
	top: calc(100% - 150px);
	animation-name: pingu2-animation;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

@keyframes pingu1-animation {
 0% {}
 25% {
   left: calc(100%/2 - 75px);
   top: calc(100% - 150px);
 }
 50% {
   left: calc(100% - 150px);
   top: calc(0%);
  }
 75% {
   left: calc(100%/2 - 75px);
   top: calc(100% - 150px);
 }
 100% {
   left: 0%;
   top: 0%;
 }
}

@keyframes pingu2-animation {
 0% {}
 25% {
   left: calc(100%/2 - 75px);
   top: calc(0%);
 }
 50% {
   left: calc(0%);
   top: calc(100% - 150px);
  }
 75% {
   left: calc(100%/2 - 75px);
   top: calc(0%);
 }
 100% {
   left: calc(100% - 150px);
   top: calc(100% - 150px);
 }
}